<ul class="list-group">
    {{#each expenses as |expense|}}
      <li class="list-group-item">
        {{expense-list-item
          expense=expense
          remove=(action "remove" expense)
          user=user
          editable=editable
        }}
        <!-- edit=(action "edit" user expense) -->
      </li>
    {{/each}}
</ul>
