<ul class="list-group">
    {{#each sortedExpenses as |expense|}}
      <li class="list-group-item">
        {{expense-list-item
          expense=expense
          remove=(action "remove" expense)
          user=user
          editable=editable
        }}
      </li>
    {{/each}}
</ul>
