
{{user-expenses-filter
  minDate=(stringtodate parentctrl.minDate)
  maxDate=(stringtodate parentctrl.maxDate)
  description=(readonly parentctrl.description)
  amount=(readonly parentctrl.amount)
  filter=(action "filter")
}}
{{user-expenses
  expenses=model.expenses
  user=model.user
  remove=(action "remove")
  editable=true
}}

{{#if (can "crud expense" ownerid=model.user.id)}}
  <div>
    {{#link-to 'user.expense.new' model.user}}Add new expense{{/link-to}}
  </div>
  <div>
    {{#link-to 'user.expenses.print' model.user}}Print these expenses{{/link-to}}
  </div>
{{/if}}
